*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f4f4;
    color:#333;
}

header{
    background:#222;
    color:white;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:15px;
}

.hero{
    padding:50px;
    text-align:center;
}

#posts-container{
    width:90%;
    max-width:1000px;
    margin:auto;
}

.container{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.formulario{
    background:white;
    padding:30px;
    width:350px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

.formulario h2{
    text-align:center;
    margin-bottom:20px;
}

.formulario input{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:5px;
}

.formulario button{
    width:100%;
    padding:12px;
    border:none;
    background:#222;
    color:white;
    border-radius:5px;
    cursor:pointer;
}

.formulario p{
    margin-top:15px;
    text-align:center;
}

.usuario-info{
    display:flex;
    align-items:center;
    gap:10px;
}

.usuario-info button{
    padding:10px;
    border:none;
    background:red;
    color:white;
    cursor:pointer;
    border-radius:5px;
}